---
layout: default
---

<div class="home">

  {{ content }}

  <h1 class="page-heading">Posts</h1>
  
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        {% if post.category %}
          <span class="post-category">{{ post.category }}</span>
        {% endif %}

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>

        {% if post.excerpt %}
          <p class="post-excerpt">{{ post.excerpt | strip_html | truncatewords: 50 }}</p>
        {% endif %}

        <a href="{{ post.url | relative_url }}" class="read-more">Read more →</a>
      </li>
    {% endfor %}
  </ul>
</div>
